.Passengers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}
.Passengers-title {
    font-size: 1.5rem;
    font-weight:500;
    margin-bottom: 15px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.Passengers input {
    font-size: 1rem;
    border-radius: 8px;
    padding: 8px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}
.Passengers-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
    margin-top: 8px;
}
.Passengers-add {
    background-color: white;
    color: #293684;
    font-size: .8rem;
    font-weight: bold;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.Passengers-add:hover {
    background-color: #dadee9;
}
.Passenger-pay {
    background-color: white;
    color: #293684;
    font-size: .8rem;
    font-weight: bold;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.Passenger-pay:hover {
    background-color: #dadee9;
}
.Passengers-title {
    margin-bottom: 16px;
}
.Passengers-list {
    list-style: none;
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.Passenger-item {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 6px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease;
}
.Passenger-item:last-child {
    border-bottom: none;
}
.Passenger-item:hover {
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}