.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: rgba(255,255,255, 0.7);
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.Nav-logo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #293684;
}
.Nav-cancel {
    background-color: #293684;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.Nav-cancel:hover {
    background-color: #2f49db;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modal-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.confirm-btn {
    background-color: #293684;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.confirm-btn:hover {
    background-color: #2f49db;
}
.cancel-btn {
    background: gray;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.cancel-btn:hover {
    background: rgb(177, 176, 176);
}